<tr>
  <td style="padding: 0 30px 30px 30px;">
    <h1>Credential Registration Received</h1>
    <p style="font-size: 16px; color: #555; line-height: 1.6;">
      Please click the following button to validate your email.<br>
      You will be asked to set a password to activate your account.
    </p>
    <div style="text-align: center; margin-top: 30px;">
      <a href="{{verification_url}}" style="background-color: #28a745; color: white; padding: 12px 24px; text-decoration: none; border-radius: 4px; display: inline-block;">
        Activate My Account
      </a>
    </div>
  </td>
</tr>